<!DOCTYPE html>
<html>
<head>
	<title>Get a list of nodes</title>
</head>

<body>
	<p>Hello world!</p>

</body>

<script src="/libs/jquery-1.7.2.min.js" type="text/javascript"></script>
<script src="/libs/underscore.js" type="text/javascript"></script>
<script src="/libs/backbone.js" type="text/javascript"></script>
</html>
